{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
            Prototype
        </strong>
            <span class="govuk-phase-banner__text">
This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
</span>
        </p>
    </div>

    <div role="banner" id="global-header" style="background-color: #005DA6">
        <div id="content">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="color: #FFFFFF">Welcome</h1>

                <div class="homepage-search">
                    <p class="search-header" style="color: #FFFFFF">Search licences</p>
                    <label class="govuk-label" for="licence-search" style="color: #FFFFFF">Enter a person or
                        establishment name, a
                        licence number or a project title</label>
                    <form action="https://www.gov.uk/search" method="get" role="search">

                        <div class="gem-c-search gem-c-search--on-govuk-blue"
                             data-module="gem-toggle-input-class-on-focus">
                            <label for="search-main-7d34bcf4" class="gem-c-search__label">
                                <!--Search GOV.UK-->
                            </label>
                            <div class="gem-c-search__item-wrapper">
                                <input type="search" value="" id="search-main-7d34bcf4" name="q"
                                       title="Search"
                                       class="gem-c-search__item gem-c-search__input js-class-toggle">
                                <div class="gem-c-search__item gem-c-search__submit-wrapper">
                                    <button type="submit" class="gem-c-search__submit">Search</button>
                                </div>
                            </div>
                        </div>

                    </form>

                    <!--<input class="form-control" id="licence-search" type="text" name="licence-search">-->
                    <!--<button type="submit" class="govuk-button">-->
                        <!--Search-->
                    <!--</button>-->
                    <!--<object data="../../assets/images/search-button.svg" type="image/svg+xml" class="svg"-->
                    <!--style="vertical-align: bottom"></object>-->
                    <div class="govuk-!-padding-bottom-4"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-7"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Tasks</h3>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" style="color: #005DA6">7</p>
            <a href="tasks" class="govuk-link govuk-!-font-size-19">outstanding</a>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-9"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">From your establishment</h3>
            <p><a href="#" class="govuk-link govuk-!-font-size-19">Check the progress of a task</a></p>
            <!--<p><a href="#" class="govuk-link govuk-!-font-size-19">View an archive of completed tasks</a></p>-->
        </div>
    </div>
</div>

{% endblock %}
