{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-5"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Research and testing with animals prototype
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}

        <p>
            This is a prototype that allows ASL delivery team to test ideas and for research purposes. It is not a
            working software.
        </p>

        <h2 class="govuk-heading-m">Latest prototype - Sprint 11</h2>

        <p>PEL amendment (add/change/remove) for approved area is referred to inspector for assessment by Licensing
            team.</p>

        <p>Last updated 10 July 2018.</p>

        <a href="sprint11/index" role="button" class="govuk-button govuk-button">
            Open prototype
        </a>

        <p></p>

        <h2 class="govuk-heading-m">Previous prototypes</h2>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Sprint 10
    </span>
            </summary>
            <div class="govuk-details__text">
                <h4 class="govuk-heading-s">Last updated 22 June 2018</h4>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Iterated PEL amendments journey (for Inspectors) based on last round of user testing</li>
                    <li>Removed the option to "Get more information" as any back and forth communications would sit
                        outside of the system
                    </li>
                    <li>Contextual guidance on assessment is added (first time testing this)</li>
                    <li>Added the option to get notifications</li>
                    <li>Added homepage, outstanding tasks (draft idea)</li>
                </ul>
                <a href="https://projects.invisionapp.com/share/QPLG58Y6GXJ#/screens/303997329_Email_Notification"
                   class="govuk-link">Open prototype</a>
            </div>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Sprint 9
    </span>
            </summary>
            <div class="govuk-details__text">
                <h4 class="govuk-heading-s">Last updated 27 June 2018 (for HOLTIF demo)</h4>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Iterated PEL amendments journey (for Establishment administrators) based on last round of user
                        testing
                    </li>
                    <li>Inbox concept (first time testing this)</li>
                </ul>
                <a href="https://projects.invisionapp.com/share/W7KQ9DBEP9T#/screens/302319515"
                   class="govuk-link">Open prototype</a>
            </div>
        </details>

    </div>
</div>

{% endblock %}
