
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Research and testing with animals prototype
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>{{releaseVersion | log }}

      <p>
        This is a prototype that allows ASL delivery team to test ideas and for research purposes. It is not a working software.
      </p>

      <h2 class="govuk-heading-m">Latest prototype - Sprint 11</h2>

      <p>PEL amendment (add/change/remove) for approved area referred to inspector for assessment by Licensing team.</p>

      <p>Last updated 2 July 2018.</p>

      <a href="#" role="button" class="govuk-button govuk-button">
        Open prototype
      </a>

      <p></p>

      <h2 class="govuk-heading-m">Previous prototypes</h2>


    </div>
</div>

{% endblock %}
